<template>
  <main class="main channel">
    <ChannelCover />
    <ChannelHeader />
    <ChannelVideosSection />
  </main>
</template>

<script>
export default {
  components: {
    ChannelCover: () => import('@/components/main/ChannelCover'),
    ChannelHeader: () => import('@/components/main/ChannelHeader'),
    ChannelVideosSection: () => import('@/components/main/ChannelVideosSection')
  }
}
</script>

<style lang="scss" scoped>
.channel {
  background-color: $body-bg;
  flex: 1;
  height: 100%;
}
</style>
