<template>
  <div class="channel-header-info d-flex align-items-center my-auto">
    <img src="@/assets/channelLogo.png" alt="Channel Avatar" class="channel-header-info-avatar" />
    <div class="channel-header-info-description d-flex flex-column align-items-start ml-4">
      <h2 class="mb-1 d-flex align-items-center">
        <span>{{ channelName }}</span>
        <fa :icon="['fas', 'check-circle']" class="ml-2 check-circle" />
      </h2>
      <p class="m-0">{{ formatedSubs }} subscribers</p>
    </div>
    <b-btn variant="danger" class="subscribe-btn text-uppercase ml-auto">subscribe</b-btn>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { format } from 'd3-format'

export default {
  computed: {
    ...mapGetters(['getChannelInfo']),
    avatar() {
      return this.getChannelInfo.avatar
    },
    channelName() {
      return this.getChannelInfo.name
    },
    subs() {
      return this.getChannelInfo.subscribersCount
    },
    formatedSubs() {
      return format('.2s')(this.subs)
    }
  }
}
</script>

<style lang="scss" scoped>
.channel-header-info {
  color: $text-highlight;
  padding: 0 5rem;
  &-avatar {
    width: 80px;
    height: auto;
    border-radius: 50%;
  }
  p {
    color: $text-seconday;
    font-weight: 500;
  }
  .check-circle {
    font-size: 1rem;
  }
  .subscribe-btn {
    background: $yt-red;
    &:hover {
      background: darken($yt-red, 5);
    }
  }
}
</style>
