<template>
  <header class="channel-cover"></header>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.channel-cover {
  height: 100%;
  height: 210px;
  background: url('https://i.ytimg.com/vi_webp/q_xuwdSyOJs/maxresdefault.webp') center;
  background-size: cover;
}
</style>
