<template>
  <section class="channel-videos">
    <b-container>
      <VideosActions />
      <div class="channel-videos-wrapper d-flex align-items-center justify-content-around flex-wrap mx-auto">
        <VideoCard v-for="video in videosList" :key="video.id" :video="video" />
      </div>
    </b-container>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import { EventBus } from '@/scripts/event-bus.js'

export default {
  components: {
    VideoCard: () => import('@/components/main/ChannelVideosSection-VideoCard'),
    VideosActions: () => import('@/components/main/ChannelVideosSection-VideosActions')
  },
  data() {
    return {
      sortMode: '',
      reverseOrder: false
    }
  },
  computed: {
    ...mapGetters(['getAllVideos']),

    videosList() {
      const propPath = this.$R.pipe(this.$R.path, this.$R.sortBy)
      const sortBy = propPath(this.sortMode)
      const result = sortBy(this.getAllVideos)
      const reverseResult = this.$R.pipe(sortBy, this.$R.reverse)
      if (this.reverseOrder) return reverseResult(result)
      return result
    }
  },
  created() {
    EventBus.$on('sort-videos', sort => {
      this.sortMode = sort.mode
      this.reverseOrder = sort.reverseOrder
    })
  }
}
</script>

<style lang="scss" scoped></style>
