<template>
  <b-nav type="dark" class="channel-header-actions">
    <b-nav-item v-for="(item, i) in items" :key="i" :active="i === 1">
      <span class="m-auto">{{ item }}</span>
    </b-nav-item>
  </b-nav>
</template>

<script>
export default {
  data() {
    return {
      items: ['home', 'videos', 'playlist', 'community', 'store', 'channels', 'about']
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_custom_nav';

.channel-header-actions {
  height: 48px;
}
</style>
