<template>
  <div class="channel-header d-flex flex-column">
    <HeaderInfo />
    <ChannelNav />
  </div>
</template>

<script>
export default {
  components: {
    HeaderInfo: () => import('@/components/main/ChannelHeader-HeaderInfo'),
    ChannelNav: () => import('@/components/main/ChannelHeader-ChannelNav')
  }
}
</script>

<style lang="scss" scoped>
.channel-header {
  height: 200px;
  background: $channel-actions;
}
</style>
