<template>
  <div class="video-card d-flex flex-column m-1 mb-4">
    <b-img-lazy fluid :src="video.snippet.thumbnails.default.url" class="video-card-thumbnail" alt="Video Title" />
    <div class="video-card-info d-flex flex-column mt-1 position-relative">
      <h3 class="title m-0">{{ formatVideoTitle }}</h3>
      <div class="video-card-info-aditional d-flex my-1 flex-wrap">
        <span class="views mr-1">{{ formatedViews }} views</span>
        <span class="timestamp"> {{ formatedDate }} </span>
      </div>
      <fa icon="ellipsis-v" class="icon-dots position-absolute" />
    </div>
    <b-badge class="closed-captions-badge" v-if="video.snippet.hasCC">CC</b-badge>
  </div>
</template>

<script>
import moment from 'moment'
import { format } from 'd3-format'

export default {
  props: {
    video: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      SI_POSTFIXES: ['', 'k', 'M', 'G', 'T', 'P', 'E']
    }
  },
  computed: {
    publishedAt() {
      return this.video.snippet.publishedAt
    },
    formatedDate() {
      return moment(this.publishedAt).fromNow()
    },
    viewCount() {
      return this.video.statistics.viewCount
    },
    formatedViews() {
      return format('.2s')(this.viewCount)
    },
    formatVideoTitle() {
      // return this.$R.length(this.video.snippet.title)
      if (this.$R.lte(this.$R.length(this.video.snippet.title), 45)) return this.video.snippet.title
      return (
        this.video.snippet.title
          .split('')
          .splice(0, 45)
          .join('') + '...'
      )
    }
  }
}
</script>

<style lang="scss" scoped>
.video-card {
  cursor: pointer;
  width: 210px;
  height: 220px;
  text-align: left;
  font-weight: 500;

  &:hover {
    .video-card {
      &-info {
        .icon-dots {
          opacity: 1;
        }
      }
    }
  }
  &-thumbnail {
    height: 120px;
    object-fit: cover;
  }

  &-info {
    .title {
      font-size: 0.9em;
      color: $text-highlight;
      padding-right: 0.5rem;
    }
    &-aditional {
      color: $text-seconday;
      .views {
        &::after {
          content: '•';
          margin: 0 6px;
        }
      }
    }
    .icon-dots {
      opacity: 0;
      color: $text-highlight;
      right: 0;
    }
  }
  .closed-captions-badge {
    max-width: 25px;
    background: rgba(#6c757d, 0.3);
  }
}
</style>
