<template>
  <b-nav type="dark" class="channel-videos-filters my-3">
    <b-nav-item>
      <div class="d-flex align-items-center">
        <span class="text-capitalize">Uploads</span>
        <fa icon="caret-down" class="ml-2" />
      </div>
    </b-nav-item>
    <b-nav-item>play all</b-nav-item>
    <b-nav-item class="ml-auto position-relative" id="sort_menu" @click.prevent="showSortMenu">
      <div class="d-flex align-items-center">
        <fa icon="sort-amount-down" class="mr-2" />
        <span>sort by</span>
      </div>
      <div class="sort-menu position-absolute d-flex" :class="{ 'active-sort-menu': activeSortMenu }">
        <ul class="sort-menu-wrapper list-unstyled w-100 m-auto">
          <li class="text-left sort-item p-3" @click="sortMode(['statistics', 'viewCount'])">Most Popular</li>
          <li class="text-left sort-item p-3" @click="sortMode(['snippet', 'publishedAt'])">Date added (newest)</li>
          <li class="text-left sort-item p-3" @click="sortMode(['snippet', 'publishedAt'], false)">Date added (oldest)</li>
        </ul>
      </div>
    </b-nav-item>
  </b-nav>
</template>

<script>
import { EventBus } from '@/scripts/event-bus.js'

export default {
  data() {
    return {
      activeSortMenu: false
    }
  },
  created() {
    window.addEventListener('click', e => {
      const target = e.target.offsetParent.id
      if (!target || target !== 'sort_menu') this.activeSortMenu = false
      else this.activeSortMenu = true
    })
  },
  methods: {
    showSortMenu() {
      this.activeSortMenu = !this.activeSortMenu
    },
    sortMode(mode, reverseOrder = true) {
      EventBus.$emit('sort-videos', { mode, reverseOrder })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_custom_nav';

.sort-menu {
  transition: all 150ms ease-in-out;
  background: $channel-actions;
  width: 250px;
  top: 100%;
  right: 0;
  z-index: -1;
  opacity: 0;
  height: 0;

  &.active-sort-menu {
    opacity: 1;
    z-index: 2;
    height: 180px;
  }
  .sort-item {
    font-size: 0.85rem;
    color: $text-primary !important;

    &:hover {
      color: white !important;
      background: rgba(white, 0.08);
    }
  }
}
</style>
