<template>
  <b-navbar toggleable="lg" type="dark">
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-navbar-nav class="d-none d-lg-block">
      <b-button size="sm" variant="dark" class="mr-2">
        <span class="navbar-toggler-icon"></span>
      </b-button>
    </b-navbar-nav>

    <b-navbar-brand href="#" class="ml-4 position-relative">
      <div class="logo-bg" />
      <fa :icon="['fab', 'youtube']" class="yt-logo" />
      Premium
    </b-navbar-brand>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav class="mx-auto search-group ">
        <b-nav-form class="w-100">
          <b-input-group class="w-100">
            <b-form-input size="sm" placeholder="Search"></b-form-input>
            <template #append>
              <b-button size="sm" class=" btn-search px-4">
                <fa icon="search"></fa>
              </b-button>
            </template>
          </b-input-group>
        </b-nav-form>
      </b-navbar-nav>

      <b-navbar-nav>
        <b-nav-item right class="mx-1">
          <fa :icon="['fas', 'video']" />
        </b-nav-item>
        <b-nav-item left class="mx-1">
          <fa :icon="['fas', 'th']" />
        </b-nav-item>
        <b-nav-item left class="mx-1">
          <fa :icon="['fas', 'bell']" />
        </b-nav-item>
        <b-nav-item left class="mx-1">
          <fa :icon="['fas', 'user-circle']" />
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {}
</script>

<style lang="scss">
.navbar {
  background: $body-bg-accent;
  .navbar-nav {
    .btn {
      background: none;
      border: none;
    }
  }
  .navbar-brand {
    font-family: 'Roboto Condensed';
    position: relative;
    .yt-logo {
      position: relative;
      z-index: 2;
      color: $yt-red;
    }
    .logo-bg {
      position: absolute;
      background: white;
      width: 10px;
      top: 13px;
      left: 5px;
      height: 10px;
      z-index: 1;
    }
  }
  .form-inline {
    width: 100%;
    input[type='text'] {
      background: $body-bg-variation;
      border: none;
      color: white;
    }
    .btn-search {
      background: $dark-btn;
      svg {
        color: $text-seconday;
      }
    }
  }
}

.search-group {
  &,
  & .input-group {
    width: 450px;
  }
}
</style>
