<template>
  <aside cols="2" class="sidebar py-2">
    <ul class="list-unstyled sidebar-wrapper w-100 px-4">
      <MenuItem v-for="(menu, i) in upMenu" :key="i" :item="menu" />
    </ul>
    <hr />
    <ul class="list-unstyled sidebar-wrapper w-100 px-4">
      <MenuItem v-for="(menu, i) in bottomMenu" :key="i" :item="menu" />
    </ul>
    <hr />
    <h6 class="sidebar-wrapper-title text-uppercase text-left px-4">subscriptions</h6>
    <ul class="list-unstyled sidebar-wrapper w-100 px-4">
      <SubscriptionItem v-for="(sub, i) in getSubscriptionList" :sub="sub" :key="i" />
      <MenuItem :item="showMoreMenu" />
    </ul>
  </aside>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      upMenu: [
        {
          name: 'Home',
          icon: ['fas', 'home']
        },
        {
          name: 'Trending',
          icon: ['fas', 'fire']
        },
        {
          name: 'Subscription',
          icon: ['fas', 'layer-group']
        },
        {
          name: 'Originals',
          icon: ['fab', 'youtube']
        }
      ],
      bottomMenu: [
        {
          name: 'Library',
          icon: ['fas', 'home']
        },
        {
          name: 'History',
          icon: ['fas', 'history']
        },
        {
          name: 'Your Videos',
          icon: ['fas', 'home']
        },
        {
          name: 'Your Movies',
          icon: ['fas', 'film']
        },
        {
          name: 'Watch Later',
          icon: ['fas', 'clock']
        },
        {
          name: 'Show More',
          icon: ['fas', 'angle-down']
        }
      ]
    }
  },
  components: {
    SubscriptionItem: () => import('@/components/sidebar/Sidebar-SubscriptionItem'),
    MenuItem: () => import('@/components/sidebar/Sidebar-MenuItem')
  },
  computed: {
    ...mapGetters(['getSubscriptionList']),
    showMoreMenu() {
      return this.$R.find(this.$R.propEq('name', 'Show More'))(this.bottomMenu)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_custom_nav';

.sidebar {
  background-color: $body-bg-accent;
  flex: 1;
  min-width: 250px;
  max-width: 280px;
  min-height: calc(100vh - 56px);

  .sidebar-wrapper {
    &-title {
      font-weight: 600;
      color: $text-seconday;
    }
  }
  hr {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
}
</style>
