<template>
  <li class="sidebar-wrapper-link text-left">
    <b-img :src="sub.avatar" rounded="circle" alt="Channel Thumbnail" class="sidebar-wrapper-link-thumb" />
    <span>{{ sub.channelName }} </span>
  </li>
</template>

<script>
export default {
  props: {
    sub: {
      type: Object,
      default: () => {}
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_custom_nav';
</style>
