<template>
  <li class="sidebar-wrapper-link text-left">
    <fa :icon="item.icon" />
    <span>{{ item.name }}</span>
  </li>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      default: () => null
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/assets/styles/_custom_nav';
</style>
