<template>
  <div id="app">
    <NavBar />
    <b-container fluid class="p-0 d-flex">
      <Sidebar />
      <Main />
    </b-container>
  </div>
</template>

<script>
import NavBar from './components/navbar/_NavBar'
import Sidebar from './components/sidebar/_Sidebar'
import Main from './components/main/_Main'

export default {
  name: 'App',
  components: {
    NavBar,
    Sidebar,
    Main
  }
}
</script>

<style lang="scss">
@import './assets/styles/main.scss';
@import './assets/styles/variables.scss';

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
</style>
