.nav-item {
  width: 120px;
  font-weight: 500;
  &:hover {
    .nav-link {
      color: $text-highlight !important;
    }
  }
  .nav-link {
    display: flex;
    margin: auto;
    line-height: 28px;
    height: 100%;
    text-transform: uppercase;
    color: $text-primary !important;
  }
  .active {
    border-bottom: 2px solid white;
    background: rgba(white, 0.08);
  }
}

.sidebar-wrapper-link {
  color: $text-primary;
  margin: 1.6rem 0;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: $text-highlight;
    svg {
      color: $text-highlight;
    }
  }

  &-thumb,
  svg {
    margin-right: 1.6rem;
  }

  svg {
    color: $text-seconday;
  }
  &-thumb {
    width: 25px;
    height: auto;
  }
}
