@import './variables';
@import './bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html,
body {
  height: 100%;
  font-size: 15px;
}
