$body-bg: #0f0f0f;
$body-bg-accent: #212121;
$body-bg-variation: #121212;
$channel-actions: #181818;
$dark-btn: #313131;

$yt-red: #f40102;

$text-seconday: #8e8e8e;

$text-primary: #b7c2ba;
$text-highlight: #fff;
